.w-500 {
  width: 500px;
}
.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.general-form .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}

.general-form .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

.general-form {
  background: #fff;
  padding: 3%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.page-center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}

.border-left-success {
  border-left: 0.25rem solid #1cc88a !important;
}
